<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Departamento</title>
    <link rel="stylesheet" href="/css/departamento.css">
</head>
<body>

    <!-- cabecera -->
    <header class="header">
        <nav class="nav">
            <a href="/">Inicio</a>
            <a href="/hoteles">Hoteles</a>
            <a href="/departamentos" class="active">Departamentos</a>
        </nav>
    </header>

    <!-- contenido principal -->
    <main class="detalle-main">
         <div id="departamento-detalle" class="departamento-detalle-card" ></div> <!-- Contenedor de detalles -->
        <form th:if="${isLoggedIn}" id="reserva-form" class="crearReserva" action="/reservas/crear" method="post">
            <label for="fecha inicio">Fecha inicio:</label>
            <input type="date" id="fecha inicio" name="fechaInicio" required />

            <label for="fecha final">Fecha final:</label>
            <input type="date" id="fecha final" name="fechaFinal" required />

            <button type="submit">Reservar</button>
        </form>
    </main>

    <div id="mensaje-reserva"></div>
    <!-- pie de pagina -->
    <footer class="footer">
        <p>&copy; 2025 StayGo. Todos los derechos reservados.</p>
    </footer>

    <script src="/scripts/departamento_detalle.js" defer></script> 
</body>
</html>
